body {
    font-family:cursive;   
    background-color:#DC143C;
    color: white;
    font-weight: normal;                
}
#corpo{
    text-align:center;
    border-style:inset;
    border-width:medium;
    padding:60px;
    width:500px;
    margin:auto;
    border-radius:30px
}
.botao:hover{
    color:blueviolet;
}
.botao{
    border-radius:10px;
}
.cabeca{
    color:whitesmoke;
}